<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APISecretKey</key>
	<string>f2RLufwaVdaPgUmqAZNcqlm5eYPiNwuECqvNfhfHb6YYrLCNL7</string>
	<key>APIKey</key>
	<string>0ykYiKosHWAoWr0zoTOgcCKlW</string>
</dict>
</plist>
